<div class="col-lg-4  col-md-4 col-sm-12 col-xs-12"style="background-color:#129345;background-size:cover;height:120px;">
  <div class="col-lg-offset-3 col-xs-offset-2" style="padding-top:5px;">
    <i class="sprite-2 sprite-earthprints" style="background-image: url({{asset "images/spritesheet.png"}});background-repeat: no-repeat;display: block;"></i>
    <!--<img src="{{asset "images/earthprints.png"}}" alt="" / style="padding-top:10px;">-->
  </div>
      <a href="http:///www.earthprintsondemand.com"><button class="{{button_class}} subscribe_btn" >Shop Prints!</button></a>
</div>
<div class="clear"></div>
