<!--
    <div class="col-xs-3 col-md-12">
        <div class="social-button fb-button">
            <a href="www.facebook.com">
                <span class="hidden-xs">Sign in with Facebook</span>
                <i class="sub-icon fa fa-facebook-official" aria-hidden="true"></i>
            </a>
        </div>
    </div>


    <div class="col-xs-3 col-md-12">
        <div class="social-button tw-button">
        <a href="www.twitter.com">
          <span class="hidden-xs">Sign in with Twitter</span>
          <i class="sub-icon fa fa-twitter" aria-hidden="true"></i>
        </a>
        </div>
    </div>

    <div class="col-xs-3 col-md-12">
        <div class="social-button in-button">
        <a href="www.instagram.com">
          <span class="hidden-xs">Sign in with Instagram</span>
          <i class="sub-icon fa fa-instagram" aria-hidden="true"></i>
        </a>
        </div>
    </div>-->

    <div class="col-xs-3 col-md-12">
        <div class="social-button email-button">
        <a class="subscribe-button" href="{{@blog.url}}/subscribe/">
          <span class="hidden-xs">Subscribe with Email</span>
          <i class="sub-icon fa fa-envelope" aria-hidden="true"></i>
        </a>
        </div>
    </div>
